<div class="contact row">
    <section class="c-information col-md-12">
        <h1> {{'PAGE_CONTACT_TITLE'|translate}}</h1>
        <div class="col-md-10 col-md-offset-1 body row">
            <div class="c-block col-md-4">
                <div class="round-icon size-48">
                    <i class="fa fa-map-marker  fa-5x"></i>
                </div>
                <h3 class="title">{{'PAGE_CONTACT_ADDRESS'|translate}}</h3>
                <p class="location">
                    <span>{{'PAGE_CONTACT_ADDRESS_STREET'|translate}}</span>,   <br>
                    <span>{{'PAGE_CONTACT_ADDRESS_CITY'|translate}}</span>,   <br>
                    <span>{{'PAGE_CONTACT_ADDRESS_GOVERNORATE'|translate}}</span>
                </p>
            </div>
            <div class="c-block col-md-4">
                <div class="round-icon size-48">
                    <i class="fa fa-phone  fa-5x"></i>
                </div>
                <h3 class="title">{{'ADMIN_PAGE_CARS_MESSAGES_TABLE_TEL'|translate}}</h3>
                <ul>
                    <li>73 550 352 </li>
                    <li> 53 850 850 </li>
                    <li> 29 850 830</li>
                </ul>
            </div>
            <div class="c-block col-md-4">
                <div class="round-icon size-48">
                    <i class="fa glyphicon glyphicon-comment  fa-4x"></i>
                </div>
                <h3 class="title">{{'ADMIN_PAGE_CARS_MESSAGES_TABLE_EMAIL'|translate}}</h3>
                <a class="email" href="mailto:ahmedauto2012@yahoo.fr">ahmedauto2012@yahoo.fr</a>

            </div>
        </div>
    </section>
    <section class="c-message col-md-10 col-lg-offset-1">
        <div class="row animated fadeIn">
            <div class="c-message-body col-md-4 col-md-offset-1 ">
                <h3 class="title">{{'PAGE_CONTACT_SEND_US'|translate}}</h3>
                <p class="message" style="font-size: 20px;color: #5252a2;">
                   {{'PAGE_CONTACT_INFO'|translate}}
                </p>
            </div>
            <form role="form" name="form" class="col-md-7" ng-submit="sendMessage(contact)">
                <div class="form-group">
                    <input ng-model="contact.name" type="text" placeholder="{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES_TABLE_NOM'|translate}} " class="col-md-6 input_name" ng-required="true"
                           name="name"   ng-class="{ 'has-error': form.name.$dirty && form.name.$invalid }">
                    <select ng-model="contact.governorate" class="col-md-5 col-md-offset-1 x-select">
                        <option value="" selected>{{'ADMIN_PAGE_CARS_MESSAGES_TABLE_GOVERNORATE'|translate}}</option>
                        <option ng-repeat="city in cites track by $index">{{city}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="email" ng-model="contact.email" placeholder="{{'ADMIN_PAGE_CARS_MESSAGES_TABLE_EMAIL'|translate}}" class="input_email col-md-12" ng-required="true"
                           name="email"   ng-class="{ 'has-error': form.email.$dirty && form.email.$invalid }" ></div>
                <div class="form-group" >
                    <input  ng-model="contact.phone" type="text" placeholder="{{'ADMIN_PAGE_CARS_MESSAGES_TABLE_TEL'|translate}}"  class="input_phone col-md-12"></div>
                <div class="form-group">
                    <textarea ng-model="contact.message" rows="8"  placeholder="{{'PAGE_CONTACT_FORM_MESSAGE'|translate}}"
                              class="input_message col-md-12" ng-minlength="10" ng-required="true"
                              name="message"   ng-class="{ 'has-error': form.message.$dirty && form.message.$invalid }" ></textarea>
                </div>
                    <div id="recaptcha" class="col-md-12">
                        <div
                                vc-recaptcha
                                theme="'light'"
                                key="recaptcha.key"
                                lang="recaptcha.lang"
                                on-create="setWidgetId(widgetId)"
                                on-success="setResponse(response)"
                                on-expire="cbExpiration()"
                        ></div>
                        <button ng-disabled="form.$invalid"
                             class="btn blue col-md-3 " >{{'ADMIN_PAGE_CARS_MESSAGES_MODAL_SEND'|translate}}</button>
                    </div>

            </form>

        </div>
    </section>

    <section class="col-md-12 c-map " style="margin-top: 50px" >
        <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map id="map" center="[35.690502, 10.845789]" zoom="18" default-style="true">
                <marker id="marker1" position="35.690502,10.845789"
                        animation="Animation.BOUNCE" animation="DROP" on-click="map.showInfoWindow('bar')">
                </marker>
                <info-window id="bar">
                    <div ng-non-bindable="">
                        <b>Ahmed Auto , Inc.</b>Route de monastir, Ksibet Mediouni 5031 Monastir
                    </div>
                </info-window>
            </ng-map>
        </div>
    </section>
</div>
<script>
</script>