<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="/public/assets/favicon/favicon.ico?v=1.0"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="/public/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/assets/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/component/components-rtl.css"/>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/component/typo.css">
    <link href="/public/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css">
    <link rel="stylesheet" href="/node_modules/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/layout/css/layout-rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/assets/layout/css/themes/blue-rtl.min.css "/>
    <link rel="stylesheet" type="text/css" href="/public/assets/layout/css/custom-rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/assets/layout/css/page/login-rtl.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/public/assets/layout/css/page/error-rtl.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
<!-- END HEAD -->

<body class=" page-404-3">
<div class="page-inner">
    <img src="/public/assets/img/error-rtl.jpg" class="img-responsive" alt=""> </div>
<div class="container error-404">
    <h1>404</h1>
    <h2>إنذار ! إنذار ! يوجد خطأ.</h2>
    <p> الصفحة التي تبحث عنها غير موجودة. </p>
    <p>
        <a href="/" class="btn red btn-outline"> عد إلى الصفحة الرئسية</a>
        <br> </p>
</div>
</body>

</html>