<footer>
    <div class="scroll-to-top" onclick="$('html, body').animate({scrollTop : 0},800);">
        <i  class="fa fa-chevron-up "></i>
    </div>
    <div class="footer-body ">
        <div class=" container">
            <div class="col-xs-12 col-sm-4 col-md-4 col-sm-5">
                <div class="heading-1">
                    <h3>{{'FOOTER_TITLE_INFO'|translate}}</h3>
                </div>
                <p>{{'FOOTER_TITLE_INFO_DESC'|translate}}</p>
                <ul class="list-default">
                    <li><i class="fa fa-map-marker"></i>&nbsp;{{'FOOTER_ADDRESS'|translate}}</li>
                    <li><i class="fa fa-phone"></i>&nbsp;73550352 </li>
                    <li><i class="fa fa-mobile"></i>&nbsp;53850850&nbsp;&nbsp;--&nbsp;&nbsp;29850830 </li>
                    <li><i class="fa fa-envelope-o"></i>&nbsp;ahmedauto2012@yahoo.fr</li>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div class="heading-1">
                    <h3>{{'FOOTER_TITLE_LIEN'|translate}}</h3>
                    </div>
                    <ul class="list-default fast-link" style="margin-top: 40px">
                        <li ui-sref="home"><i ng-class="dir=='ltr'?'fa fa-chevron-right':'fa fa-chevron-left' "></i>{{'NAVBAR_HOME'|translate}}</li>
                        <li ui-sref="contact"><i  ng-class="dir=='ltr'?'fa fa-chevron-right':'fa fa-chevron-left' "></i>{{'NAVBAR_CONTACT'|translate}}</li>
                        <li ui-sref="new_cars"><i  ng-class="dir=='ltr'?'fa fa-chevron-right':'fa fa-chevron-left' "></i>{{'HOME_CAR_TYPE_TITLE_NEW'|translate}}</li>
                        <li ui-sref="old_cars"><i  ng-class="dir=='ltr'?'fa fa-chevron-right':'fa fa-chevron-left' "></i>{{'HOME_CAR_TYPE_TITLE_USED'|translate}}</li>
                        <li ui-sref="login"><i  ng-class="dir=='ltr'?'fa fa-chevron-right':'fa fa-chevron-left' "></i>{{'NAVBAR_LOGIN'|translate}} </li>

                    </ul>

            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-10 col-sm-offset-1" style="margin-bottom: 20px">
                <div class="heading-1">
                    <h3>{{'FOOTER_TITLE_FACEBOOK'|translate}}</h3>
                </div>
                <div class="fb-page" style="margin-top: 40px"
                     data-href="{{parameters.facebookUrl}}"
                     data-width="300"
                     data-hide-cover="false"
                     data-show-facepile="true"></div>

            </div>

        </div>
    </div>

    <div class="copyright" style="z-index: 99999">
        <div class="col-md-3 developper">
            {{'FOOTER_BOTTOM_DEVELOPED'|translate}} : <a href="https://www.facebook.com/mednaceur.marzouk">MedNaceur Marzouk</a>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6" style="padding: 16px;font-size: 18px;">
            {{'FOOTER_COPYRIGHT'|translate}} © {{dateYear}}
        </div>
        <div class="col-md-5 col-xs-12 col-sm-6">
            <ul class="social list-inline pull-right" style="width:inherit!important;">
                <li><a target="_blank" href="{{parameters.facebookUrl}}"><i
                        class="fa fa-facebook"></i></a></li>
                <li><a href="{{parameters.twitterUrl}}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{parameters.youtubeUrl}}"><i class="fa fa-youtube"></i></a></li>
                <li><a href="{{parameters.instagramUrl}}"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>