<footer>
    <!--<div style="background: linear-gradient(rgb(230, 149, 149), #ca1e11);height: 106px;">

    </div>-->
    <div class="footer-body ">
        <div class=" container" >


        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="heading-1">
                <h3>Company Info</h3>
            </div>
            <p>Bienvenue à AHMED AUTO le premier salon d'exposition de voitures neuves et occasions à Monastir. C'est
                un magasin d'exposition (show room) permettant de présenter un assortiment ou la totalité des voitures
                proposés à la vente.</p>
            <ul class="list-default">
                <li><i class="fa fa-signal"></i>123 Holding, Busan, Korea</li>
                <li><i class="fa fa-phone"></i>0123-456-789</li>
                <li><i class="fa fa-envelope-o"></i>ahmedauto2012@yahoo.fr</li>
                <li><i class="fa fa-globe"></i>http://www.ndktheme.com</li>
            </ul>
        </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4 col-md-offset-1">
                <h2>No marques</h2>
                <p style="color: whitesmoke;">
                    Bienvenue à AHMED AUTO le premier salon d'exposition de voitures neuves et occasions à Monastir. C'est
                    un magasin d'exposition (show room) permettant de présenter un assortiment ou la totalité des voitures
                    proposés à la vente. Il offre éventuellement la possibilité de passer commande pour le client visiteur.
                </p>
            </div>

    </div>
    </div>

    <div class="copyright" style="z-index: 99999">
        <div class="col-md-6 col-xs-12 col-sm-6" style="padding: 16px;font-size: 18px;">
            {{'FOOTER_COPYRIGHT'|translate}} © {{dateYear}}
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6">
            <ul class="social list-inline pull-right" style="width:inherit!important;">
                <li><a target="_blank" href="https://www.facebook.com/AHMED-AUTO-196124490486019/?fref=ts"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>