<section class="top">
    <div id="top-image-search">
        <div class="">
            <h2 class="search-title"><b>ابحث عن السيارة التي تتناسب مع ذوقك</b></h2>
        </div>
    </div>

</section>

<section class="marque-zone">
    <ul class="marque">
        <li>
            <a href="/marques/audi/">
                <img src="/public/assets/img/marques/audi-logo.png" alt="Audi" title="Audi">
            </a>
        </li>
        <li>
            <a href="/marques/bmw/">
                <img src="/public/assets/img/marques/bmw-logo.png" alt="BMW" title="BMW">
            </a>
        </li>
        <li>
            <a href="/marques/mercedes/">
                <img src="/public/assets/img/marques/mercedes-logo.png" alt="Mercedes Benz" title="Mercedes Benz">
            </a>
        </li>
        <li>
            <a href="/marques/peugeot/">
                <img src="/public/assets/img/marques/peugeot-logo.png" alt="Peugeot" title="Peugeot">
            </a>
        </li>
        <li>
            <a href="/marques/toyota/">
                <img src="/public/assets/img/marques/toyota-logo.png" alt="Toyota" title="Toyota">
            </a>
        </li>
        <li>
            <a href="/marques/citroen/">
                <img src="/public/assets/img/marques/citroen-logo.png" alt="Citroen" title="Citroen">
            </a>
        </li>
        <li>
            <a href="/marques/nissan/">
                <img src="/public/assets/img/marques/nissan-logo.png" alt="Nissan" title="Nissan">
            </a>
        </li>
        <li>
            <a href="/marques/volkswagen/">
                <img src="/public/assets/img/marques/volkswagen-logo.png" alt="Volkswagen" title="Volkswagen">
            </a>
        </li>
        <li>
            <a href="/marques/ford/">
                <img src="/public/assets/img/marques/ford-logo.png" alt="Ford" title="Ford">
            </a>
        </li>
        <li>
            <a href="/marques/renault/">
                <img src="/public/assets/img/marques/renault-logo.png" alt="Renault" title="Renault">
            </a>
        </li>
    </ul>
</section>