<div class="page-header navbar navbar-fixed-top " id="navbar">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <div style="position: absolute">
            <a href="/">
                <img src="/public/assets/img/logo.png" alt="logo" width="250" height="90"> </a>
        </div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li >
                    <a ui-sref="login" class="navbar-button">تسجيل الدخول</a>
                </li>
                <li >
                    <a ui-sref="login" class="navbar-button">إتصل بنا</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- END HEADER INNER -->
</div>