<div class="container-fluid" style="padding-top: 10px">
    <aside class="col-md-3 side-box hidden-sm hidden-xs">
        <section class="quick-search-box">
            <header class="side-box_header">
                <h2 class="side-box_title">{{'PAGE_SHOW_CAR_SPEED_SEARCH'|translate}}</h2>
            </header>
            <div class="content">
                <form class="car-form" ng-submit="searchCar()">
                    <div class="row">
                        <div class="col-md-12 form-item">
                            <label class="hidden col-md-4" for="edit-manufacturer">Make
                            </label>
                            <select ng-model="marque" id="edit-manufacturer"
                                    class="form-select col-md-10 col-md-offset-1 x-select">
                                <option value="" selected="selected">{{'PAGE_SHOW_CAR_SPEED_SEARCH_PICK_MARQUE'|translate}}</option>
                                <option ng-repeat="mq in marques track by $index" value="{{mq}}">{{mq.nom}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-item ">
                            <label class="hidden col-md-4">Model </label>
                            <select ng-model="search.model" name="car"
                                    class="form-select  col-md-10 col-md-offset-1 x-select" ng-disabled="marque==null">
                                <option value="" selected="selected">{{'PAGE_SHOW_CAR_SPEED_SEARCH_ALL_MODEL'|translate}}</option>
                                <option ng-repeat="model in models track by $index" value="{{model}}">{{model}}</option>
                            </select>
                        </div>
                        <button class="search-btn">{{'HOME_SEARCH_BTN'|translate}}</button>
                    </div>
                </form>
            </div>
        </section>
        <section id="related_cars">
            <header class="side-box_header">
                <h2 class="side-box_title">{{'PAGE_SHOW_CAR_SPEED_SEARCH'|translate}}</h2>
            </header>
            <div>
                <ul class="related_cars_list  ">
                    <li ng-repeat="other_car in other_cars track by $index" class="animated slideInRight">
                        <article class="car-item col-md-12" ui-sref="show_car({id:other_car._id})">
                            <div class="push-item__image col-md-7">
                                <div class="fixed-ratio">
                                    <img ng-if="other_car.images.length>0" src="{{other_car.images[0]}}"
                                         class="img-responsive">
                                    <img ng-if="other_car.images.length<1" src="/public/assets/img/car/no_image.png">
                                </div>
                            </div>
                            <div class="push-item__text-content col-md-4">
                                <div class="push-item__manufacturer">{{other_car.marque}}</div>
                                <div class="push-item__title">{{other_car.model}}</div>
                                <div class="push-item__price">
                                    <span class="price-range">
                                        <span class="price-range__from">{{other_car.prix}} {{'MONEY'|translate}}</span>
                                    </span>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </section>
    </aside>
    <div class="fb-share-button" data-href="https://auto-mobile-tn.herokuapp.com/car/{{car._id}}/detail" data-layout="button_count"
         data-size="large" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fauto-mobile-tn.herokuapp.com%2F&amp;src=sdkpreparse">{{'SHARE'|translate}}</a></div>
    <div id="main_area" class="col-md-9 boxed-content">
        <!-- Slider -->
        <div class="row" style="padding: 5px;">
            <div class="col-md-12">
                <b style="font-size: 45px" class="font-blue-steel">{{car.titre}}</b>
            </div>
            <div class=" col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-0">
                <ul id="lightSlider" class=" " data-rtl="{{dir=='rtl'}}">
                    <li class="text-center" ng-repeat="image in car.images track by $index" data-thumb="{{image}}">
                        <img src="{{image}}" class="img-responsive ">
                    </li>
                    <li ng-if="car.images.length<1" class="col-sm-8 col-sm-offset-2">
                        <div class="slide">
                            <img src="/public/assets/img/car/no_image.png" class="img-responsive" width="650">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <table class="table cartable">
                    <tbody>
                    <tr>
                        <td class="col-md-4">{{'PRICE'|translate}}</td>
                        <td>{{car.prix}}&nbsp;(دت)</td>
                    </tr>
                    <tr>
                        <td class="col-md-4">{{'HOME_SEARCH_FORM_MARQUE'|translate}}</td>
                        <td>{{car.marque}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4">{{'HOME_SEARCH_FORM_MODEL'|translate}}</td>
                        <td>{{car.model}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4">{{'HOME_SEARCH_FORM_YEAR'|translate}}</td>
                        <td>{{car.annee}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4">{{'ADMIN_FORM_ADD_CAR_COLOR'|translate}}</td>
                        <td>{{car.couleur}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row car-details-default">
            <ul class="">
                <li class="col-md-2 col-xs-5 col-sm-2">
                    <img src="/public/assets/img/car/icon-carburant.png">
                    <h3>
                        <ANY ng-switch="car.energie">
                            <ANY ng-switch-when="diesel">{{'ADMIN_PAGE_ADD_CAR_FORM_ENERGIE_DIESEL'|translate}}</ANY>
                            <ANY ng-switch-when="essence">{{'ADMIN_PAGE_ADD_CAR_FORM_ENERGIE_ESSENCE'|translate}}</ANY>
                            <ANY ng-switch-when="electrique">{{'ADMIN_PAGE_ADD_CAR_FORM_ENERGIE_ELECTRIC'|translate}}</ANY>
                            <ANY ng-switch-when="lgp">{{'ADMIN_PAGE_ADD_CAR_FORM_ENERGIE_LGP'|translate}}</ANY>
                        </ANY>
                    </h3>

                </li>
                <li class="col-md-2 col-sm-2 col-xs-5">
                    <img src="/public/assets/img/car/icon-places.png">
                    <h3>{{car.place}}&nbsp;{{'PLACE'|translate}}</h3>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-5">
                    <img src="/public/assets/img/car/icon-engine.png">
                    <h3>{{car.cylindre}} {{'CYLINDRE'|translate}}</h3>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-5">
                    <img src="/public/assets/img/car/icon-boite.png">
                    <h3>
                        <ANY ng-switch="car.transmission">
                            <ANY ng-switch-when="manuel">{{'CARS_SEARCH_FORM_TRANSITION_MANUAL'|translate}}</ANY>
                            <ANY ng-switch-when="semi-auto">{{'CARS_SEARCH_FORM_TRANSITION_SEMI_AUTOMATIC'|translate}}</ANY>
                            <ANY ng-switch-default>{{'CARS_SEARCH_FORM_TRANSITION_AUTOMATIC'|translate}}</ANY>
                        </ANY>
                    </h3>
                </li>
                <li class="col-md-2 hidden-xs">
                    <img src="/public/assets/img/car/icon-portes.png">
                    <h3>{{car.porte}}&nbsp;{{'DOOR'|translate}}</h3>
                </li>
            </ul>
        </div>
        <div class="row col-md-12 portlet light" style="margin-top: 20px">
            <div class="col-md-6">
                <h3>{{'ADMIN_PAGE_ADD_CAR_FORM_SECURITY'|translate}}</h3>
                <table class="table table-striped table-bordered ">
                    <tbody>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_ABS'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.security.frein_abs?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20"
                                 height="20">
                        </td>
                    </tr>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_FR_ASSISTANCE'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.security.frein_ebd?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20"
                                 height="20">
                        </td>
                    </tr>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_AIRBAG'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.security.airbag?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20" height="20">
                        </td>
                    </tr>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_ALARM'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.security.alarm?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20" height="20">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3>{{'ADMIN_PAGE_ADD_CAR_FORM_FONCTIONAL'|translate}}</h3>
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_CLIMATISATION'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.fonctional.climatisation?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20" height="20">
                        </td>
                    </tr>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_LOCK'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.fonctional.fermuture_centralise?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20" height="20">
                        </td>
                    </tr>
                    <tr>
                        <td> {{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_REG_VITESSE'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.fonctional.regulateur_vitesse?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20" height="20">
                        </td>
                    </tr>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_SUNROOF'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.fonctional.toit_ouvrant?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20" height="20">
                        </td>
                    </tr>
                    <tr>
                        <td>{{'ADMIN_PAGE_ADD_CAR_FORM_ACCESSOIR_VITRE_ELECTRIC'|translate}}</td>
                        <td class="text-center">
                            <img ng-src="{{car.fonctional.vitre_electrique?'/public/assets/img/check.png':'/public/assets/img/wrong.png'}}" width="20" height="20">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                rtl: $('#lightSlider').data('rtl'),
                slideMargin: 1,
                thumbItem: 10
            })
        }, 200);
    });
</script>
