.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0.1);
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    display: block;
    margin: 0;
    padding: 0;
}