.contact{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.contact .title{
    background-color: #2cabd4;
    color: #fff;
    overflow: hidden;
    padding: 20px;
}