.box-speed-search{
    border-radius: 2%!important;
    margin: 0 20px 20px 20px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 674.5px 142.5px;
    transform-origin: 674.5px 142.5px;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 14px / 20px Lato, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}
.box-speed-search h2{
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    height: 33px;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 570px 16.5px;
    transform-origin: 570px 16.5px;
    border: 0px none rgb(17, 17, 17);
    font: normal normal 900 normal 30px / 33px Lato, sans-serif;
    margin: 0px 0px 25px;
    outline: rgb(17, 17, 17) none 0px;
}
.box-speed-search .form-group {
    margin-bottom: 15px;
    position: relative;
}
.box-speed-search .form-label {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 8px;
}
.box-speed-search .form-control {
    background: #eeeeee none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    color: #888888;
    font-size: 15px;
    height: 46px;
    line-height: 30px;
    padding: 0 15px;
}
.form-control:hover, .form-control:focus {
    box-shadow:none;
    outline:none
}
.box-speed-search .select {
    position:relative;
}
.box-speed-search .select select {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;

}
.box-speed-search .select::after {
    color: #878787;
    content: "";
    cursor: pointer;
    font-family: fontawesome;
    font-size: 15px;
    padding: 12px 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.form .select::after {
    right: 15px!important;
}
.form-rtl .select::after {
    left: 15px!important;
}

.black_input .form-control {
    background: #222;
    border-radius: 3px;
    color: #fff;
    border: #222 solid 1px;
    font-size: 17px;
    border-radius: 5px!important;
}
.black_input .form-control select option{
    height: 46px;
    line-height: 30px;
    padding: 0 15px;
}
.box-speed-search .btn {
    font-size:18px;
}
.box-speed-search .btn i {
    margin-right:6px;
}
.box-speed-search .form-group {
    margin-bottom:20px;
}
.box-speed-search .slider.slider-horizontal .slider-track {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: none;
}
.box-speed-search .slider .slider-handle, .slider .slider-selection {
    background-image:none;
}
.box-speed-search .slider-selection {
    background-color:#fff;
}
form .slider.slider-horizontal {
    width: 100%;
}
.box-speed-search .slider .slider-handle{
    background: #fa2837 none repeat scroll 0 0;
    fill: #fa2837;
}
.box-speed-search .slider .slider-selection{
    background: #fa2837 none repeat scroll 0 0;
    fill: #fa2837;
}
#searchBtn{
    padding: 10px;
    font-size: 16px;
    margin-top: 34px;
}
.box-speed-search.-rtl{
    direction: rtl;
}
.home-type-title{
    background: #e60000;
    margin-top: 40px;
    margin-bottom: 20px;


}
.home-type-title h3{
    display: block;
    color: #ffffff;
    margin-top: 5px!important;
    margin-bottom: 5px!important;

    background-color: transparent;
}

.home-type-title:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -31px;
    width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-right: 31px solid #e60000;
    border-bottom: 31px solid transparent;
}
.home-type-title:after{
    overflow: hidden;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -31px;
    width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-left: 31px solid #e60000;
    border-bottom: 31px solid transparent;
}

.caption-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    margin: 0 0 5px 0;
    color: #14181c;
}
.icon-view {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: inline-block;
}
.icon-view strong {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}
.icon-view .fa,
.icon-view .glyphicon {
    font-size: 24px;
    line-height: 68px;
}
.thumbnail .media-link {
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    height:200px;
}
.thumbnail .media-link .icon-view {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -40px;
    margin-top: -40px;
    opacity: 0;
    -webkit-animation: fadeOut .4s;
    animation: fadeOut .4s;
}
.thumbnail .media-link:hover .icon-view {
    opacity: 1;
    -webkit-animation: bounceIn .4s;
    animation: bounceIn .4s;
}
/* Thumbnail transition
/* -------------------------------------------------------------------------- */
.thumbnail,
.thumbnail:hover,
.thumbnail.hover,
.thumbnail span,
.thumbnail:hover span,
.thumbnail.hover span,
.thumbnail .media,
.thumbnail:hover .media,
.thumbnail.hover .media,
.thumbnail .media img,
.thumbnail:hover .media img,
.thumbnail.hover .media img,
.thumbnail .media-link:after,
.thumbnail:hover .media-link:after,
.thumbnail.hover .media-link:after,
.thumbnail .icon-view,
.thumbnail:hover .icon-view,
.thumbnail.hover .icon-view,
.thumbnail .icon-view .fa,
.thumbnail:hover .icon-view .fa,
.thumbnail.hover .icon-view .fa,
.thumbnail .icon-view .glyphicon,
.thumbnail:hover .icon-view .glyphicon,
.thumbnail.hover .icon-view .glyphicon,
.thumbnail .caption,
.thumbnail:hover .caption,
.thumbnail.hover .caption,
.thumbnail .caption-title,
.thumbnail:hover .caption-title,
.thumbnail.hover .caption-title,
.thumbnail .caption-icon,
.thumbnail:hover .caption-icon,
.thumbnail.hover .caption-icon,
.thumbnail .caption-text,
.thumbnail:hover .caption-text,
.thumbnail.hover .caption-text,
.thumbnail .caption-zoom,
.thumbnail:hover .caption-zoom,
.thumbnail.hover .caption-zoom,
.thumbnail .caption-link,
.thumbnail:hover .caption-link,
.thumbnail.hover .caption-link,
.thumbnail .caption-category,
.thumbnail:hover .caption-category,
.thumbnail.hover .caption-category,
.thumbnail .caption-price,
.thumbnail:hover .caption-price,
.thumbnail.hover .caption-price,
.thumbnail .caption-wrapper,
.thumbnail:hover .caption-wrapper,
.thumbnail.hover .caption-wrapper,
.thumbnail .buttons,
.thumbnail:hover .buttons,
.thumbnail.hover .buttons {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hot-deals-carousel .owl-theme .owl-controls .owl-dots .owl-dot span {
    background-color: #a5abb7;
    border-radius: 0;
    margin-right: 1px;
    margin-left: 2px;
}
.hot-deals-carousel .owl-theme .owl-controls .owl-dots .owl-dot:hover span,
.hot-deals-carousel .owl-theme .owl-controls .owl-dots .owl-dot.active span {
    background-color: #14181c;
}
/* Car Card
/* ========================================================================== */
.thumbnail-car-card {
    background-color: #ffffff;
    border-color: #e9e9e9;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.thumbnail-car-card.hover,
.thumbnail-car-card:hover {
    border-color: #e9e9e9;
}
.thumbnail-car-card.no-border {
    border: solid 1px #e9e9e9;
}
.thumbnail-car-card.no-border.hover,
.thumbnail-car-card.no-border:hover {
    border: solid 1px #e9e9e9;
}
.thumbnail-car-card .caption-title {
    font-size: 15px;
    font-weight: 700;
}
.thumbnail-car-card .caption-text {
    margin-bottom: 10px;
    color: #7f7f7f;
}
.thumbnail-car-card .buttons {
    margin-bottom: 15px;
}
.thumbnail-car-card .buttons .btn-theme {
    padding-right: 40px;
    padding-left: 40px;
    line-height: 1;
    font-weight: 900;
}
.thumbnail-car-card .table {
    margin-bottom: 0;
}
.thumbnail-car-card .table td {
    font-size: 13px;
    color: #7f7f7f;
}
.thumbnail-car-card .table td + td {
    border-right: solid 1px #e9e9e9;
}
.car-listing .thumbnail-car-card .media {
    float: right;
}
@media (max-width: 991px) {
    .car-listing .thumbnail-car-card .media {
        float: none;
    }
}

.car-listing .thumbnail-car-card + .thumbnail-car-card {
    margin-top: 30px;
}
.car-big-card {
    border: solid 1px #e9e9e9;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.car-big-card .row {
    margin-right: 0;
    margin-left: 0;
}
.car-big-card .row [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
@media (max-width: 991px) {
    .car-big-card .row > .col-md-4 {
        margin-top: 0;
    }
}
.car-big-card .car-details .title {
    padding-right: 0;
}
.car-big-card .car-details .title h2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1px;
    margin-bottom: 7px;
    color: #14181c;
}

.car-big-card .btn-zoom {
    position: absolute;
    padding: 0;
    line-height: 30px;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 10px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.car-big-card .btn-zoom:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.car-big-card .btn-zoom .fa {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.car-big-card .car-thumbnails {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.car-big-card .car-thumbnails a {
    display: block;
    position: relative;
    border: solid 4px rgba(255, 255, 255, 0.6);
    margin: 0 10px 10px 0;
}
.car-big-card .car-thumbnails a:hover {
    border-color: rgba(230, 0, 0, 0.6);
    background-color: rgba(230, 0, 0, 0.6);
}
.car-big-card .car-thumbnails a:hover:after {
    content: '\f002';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: -20px -20px 0 0;
    text-align: center;
    right: 50%;
    top: 50%;
    color: #ffffff;
}
.car-big-card .car-thumbnails a:hover img {
    opacity: 0.8;
}
.car-big-card .car-thumbnails .swiper-pagination-bullet {
    width: inherit;
    height: inherit;
    border: none !important;
    background-color: transparent !important;
}
@media (max-width: 480px) {
    .car-big-card .car-thumbnails .swiper-pagination-bullet {
        width: 30px;
    }
    .car-big-card .car-thumbnails .swiper-pagination-bullet a {
        border-width: 1px;
    }
    .car-big-card .car-thumbnails .swiper-pagination-bullet img {
        width: 100%;
        max-width: 100%;
    }
}
.car-big-card .car-thumbnails .swiper-pagination-bullet.swiper-pagination-bullet-active a {
    border-color: #e60000 !important;
}
.car-big-card .owl-dots {
    display: none !important;
}
.car-big-card.alt .car-details .price {
    padding-top: 5px;
    background-color: #f5f6f8;
}
.car-big-card.alt .car-details ul li:last-child {
    border: none;
}
.light-show .lSPrev,.light-show .lSNext{
    background-image: none!important;
}
.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: grey;
    text-align: center;
    border: solid 4px #14181c;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.swiper-button-prev{
    margin-right: -2px;
}
.swiper-button-prev .fa,
.swiper-button-next .fa {
    font-size: 25px;
    font-weight: 900;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.light-show .lSAction > a{
    width:40px;
}
.swiper-button-prev:hover,.swiper-button-next:hover{
    color:red!important;
}

.product-caption{
    background: #333;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 15px;

}
.product-caption .product-name{
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.product-caption .product-price{
    padding: 14px;
    background: #d11717;
    font-size: 17px;
    color: #fff;
    border-bottom-right-radius: 5px;
}
.product-caption .product-price.rtl{
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;

}
.product-caption span {
    font-size: inherit;
    width: 40%;
    display: block;
    padding: 12px 15px;
    text-align: right;
    position: relative;
    float: right;
}
.product-caption span.rtl{
    float: left!important;
}
.product-caption span.ltr::after {
     position: absolute;
     top: 0px;
     left: 0px;
     content: '';
     border-width: 18px;
     border-style: solid;
     border-top-color: rgba(0,0,0,0);
     border-left-color: #d11717;
     border-right-color: rgba(0,0,0,0);
     border-bottom-color: #d11717;
 }
.product-caption span.ltr:after {
    content: "";
    border-top-color: #333;
    border-left-color: #333;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}
.product-caption span.rtl::before {
    position: absolute;
    top: 0px;
    left: 95px;
    content: '';
    border-width: 18px;
    border-style: solid;
    border-top-color: rgba(0,0,0,0);
    border-left-color: rgba(209, 23, 23, 0);
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: rgba(209, 23, 23, 0);
}
.product-caption span.rtl::before {
    content: "";
    border-top-color: #333;
    border-right-color: #333;
    border-bottom-color: rgba(0,0,0,0);
}
