.login-form .form-group.input-icon i {
    margin-top: 15px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#username:focus, #password:focus {
    background-color: #dde3ec;
    box-shadow: 0 0 8px 1px rgba(222, 7, 19, 0.94) !important;
    color: #8290a3;
    height: 43px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.page-login{
    background: url("/public/assets/img/login-bg.png") center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 150px;
    margin-right: 0px;
    margin-left: 0px;
}
.page-login .login-box{
    margin-top: 100px;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.39);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}
.page-login .login-box input{
    padding: 22px!important;
    padding-left: 30px!important;

}
.error-input{
    box-shadow: 0 0 8px 1px rgba(222, 7, 19, 0.94) !important;
    border: 1px solid rgb(222, 7, 19);
}

.error_text_m {
    position:relative;
    padding:50px 0;
}
.error_text_m h2 {
    font-size:232px;
    text-align:center;
    color: #fa2837;
    fill: #fa2837;
}
.error_text_m h2 span {
    color:#111;
    font-weight:900;
}

.background_icon {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.background_icon i {
    color: #e7e7e7;
    font-size: 538px;
    line-height: 400px;
    vertical-align: top;
}
.error_icon {
    margin-top: 107px;
    width: 29%;
}
.error_icon i {
    color:#cfcfcf;
    font-size:130px;
}
.error_msg_div {
    float: left;
    width: 71%;
    padding-top:15px;
}
.error_msg_div h3 {
    font-size:60px;
}
.error_msg_div h3 span {
    font-size:40px;
    display:block;
}
.error_msg_div .btn {
    margin-top:30px;
}