body{
    margin: 0;
    font-family: HacenTunisiaLt,NeoSansArabic,Helvetica,Arial,sans-serif !important;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.main{
    padding: 0 !important;
    margin: 0 !important;
    background: #eef1f5;

}
footer .footer-body{
    width: 100%;
    background: #111 none repeat scroll 0 0;
    color: #9d9d9d;
    line-height: 1.5;
}
.marque {
    border-top: 1px solid #d9d9d9;
    margin: 8vh auto 0;
    padding-top: 8vh;
    text-align: center;
    font-size: 0;
}
.marque li {
    padding: 15px;
}
.marque li img{
    width: 80px;
    height: 80px;
}
.marque li:hover {
    transform: scale(1.2);
    transition: transform .3s;
}
.marque-zone{
    margin-top: 20px;
    bottom: 0;
    display: block;
    padding: 8vh 1rem;
    text-align: center;
}
.marque-zone ul li{
    display: inline-block
}
footer .copyright{
    position: absolute;
    z-index: 99998;
    background-color: #0c0c0c;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
}
#top-image-search{
    background-image: url(/public/assets/img/home-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
#top-image-search .search-title{
    margin: 0px;
    padding-top: 30px;
    text-align: -webkit-right;
    font-size: 70px;
    color: white;
    text-shadow: 1px 0px 17px rgba(230, 15, 32, 0.98);
    font-family: "Arabic Typesetting";
}
.page-sidebar-menu ul li{
    cursor: pointer;
}
*,.page-title{
    font-family: HacenTunisiaLt,NeoSansArabic,Helvetica,Arial,sans-serif;
}

.page-container{
    margin-top: 0 !important;
}


a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul, body, h1, h2, h3, h4, h5, h6 {
    font-family: HacenTunisiaLt,NeoSansArabic,Helvetica,Arial,sans-serif;
}
.boxed{
    flex-wrap: wrap;
    background-color: #F2F2F2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.image-number{
    background-image: url(/public/assets/img/camera.svg);
    background-repeat: no-repeat;
    background-size: 1em auto;
    background-position: .25em center;
    position: absolute;
    top: 0;
    text-shadow: 0 0 5px #4a4a4a;
    right: 0;
    color: #fff;
    padding: .25rem .25rem .25rem 1.5rem;
    width: 40px;
}
#pagination li a {
    font-size: 20px!important;
}

.load-container {
    position: relative;
    overflow: hidden;
    padding: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.loader-a {
    color: #2cb9fa;
    font-size: 10px;
    margin: 50px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%!important;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.toast {
    margin-top: 70px;
    z-index: 99999999;
}
@media (max-width: 380px) {
    .hidden-xxs {
        display: none !important;
        z-index: -99999;
    }
    .search-title{
        font-size: 35px!important;
    }
    .shown-xxs{
        display: inherit !important;
    }
}
@media (max-width: 800px) {
    .search-title{
        font-size: 45px!important;
    }
    .hidden-ssm{
        display: none;
    }
}
@media (max-width: 950px) {
    .search-title{
        font-size: 50px!important;
    }
}

.copyright .social li a {
    text-decoration: none;
    display: block;
    margin-top: 13px;
}
.copyright .social li a i {
    color: #999;
    text-align: center;
    line-height: 35px;
    border-radius: 35px;
    height: auto!important;
    width: 35px;
    background: #151515;
    display: block;
}
.copyright .social li a i:hover {
    color:red
}
.no-padding{
    padding: 0!important;
}
.footer-body .heading-1 {
    margin-top: 15px;
    border-bottom: 2px solid #222;
}
.footer-body .heading-1 h3 {
    color: white;
    padding: 15px 0px;
    margin: -2px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    border-bottom: 2px solid #d11717;
    font-size: 22px;
    display: inline-block;
}

.footer-body ul{
    margin-top: -15px;
    margin-bottom: 20px;
}
.footer-body .list-default li, .footer-body p {
    color: #999;
}

ul.pagination>li>a{
    background: #333!important;
    color: #fff!important;
}
ul.pagination>li.active{
    background: #d11717;
    color: #fff;
}
ul.pagination>li>a:hover{
    color: #d11717;
}
@media (min-width: 1200px){
    .col-lg-4 {
        width: 33.33333%!important;
    }
}
.thumbnail .media-link .icon-view:hover{
    cursor: pointer;
}

.footer-body .fast-link{
    margin-top: 40px;
    padding-left: 10px!important;
}
.footer-body .fast-link li{
    font-weight: 700;
    font-size: 18px;
}
.footer-body .fast-link li:hover{
    color: #d11717;
    cursor: pointer;
}
.developper{
    padding: 16px;
    font-size: 14px;
    color: #999;
}
.developper a{
    text-decoration: none;
    color: #d11717;
    cursor: pointer;
}
.scroll-to-top{
    background-color: rgba(27, 26, 26, 0.37);
    border-radius: 74%;
    z-index: 9999999;
    display: block;
    padding: 15px 10px;
}
.scroll-to-top i{
    opacity: 1;
    color:#d11717!important
}