.list-default li {
    font-size: 16px;
    padding: 10px 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}
.list-default li i {
    color: inherit;
    width: 20px;
}
.heading-2 h3{
    background: #d50808;
    color: #fff;
    border-left-color: #d50808;
}
@media (min-width: 450px) {


.ltr .heading-2 h3::after {
    position: absolute;
    top: -1px;
    right: -46px;
    content: '';
    border-width: 23px;
    border-style: solid;
    border-top-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-left-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
    border-left-color: #d50808;
    border-bottom-color: #d50808;
}
    .rtl .heading-2 h3::before {
        position: absolute;
        top: -1px;
        left: -45px;
        content: '';
        border-width: 23px;
        border-style: solid;
        border-top-color: rgb(34, 34, 34);
        border-bottom-color: rgb(34, 34, 34);
        border-left-color: rgb(34, 34, 34);
        border-bottom-color: rgb(213, 8, 8);
        border-right-color: #d50808;
        border-bottom-color: #d50808;
    }
}
.car-filter {
    background: #d50808;
    display: inline-block;
    padding: 10px;
}
.car-filter .form-group label{
    color: white;
    font-size: 18px;
    margin-top: 7px;
}
.car-filter .form-group{
    margin-bottom: 0;
    margin-top: 8px;
}
.car-f-btm{
    border: 3px solid #222;
    margin-top: 30px;
}
.car-f-top {
    position: absolute;
    margin-top: -13px;
    border-top: 1px solid #222;
    border-left: 3px solid #222;
    z-index: 9;
}
.rtl .car-f-top {
    position: absolute;
    margin-top: -13px;
    border-top: 1px solid #222;
    border-right: 3px solid #222;
    border-left: none!important;
    z-index: 9;
}


.side-search{
    margin-top: 40px;
    background: #d11717;
    padding: 10px;
}
.side-search .slider .slider-handle{
    background: #860303 none repeat scroll 0 0;
    fill: #fa2837;
}
.side-search .slider .slider-selection{
    background: #ad0601 none repeat scroll 0 0;
    fill: #fa2837;
}
.fb-share-button{
position: fixed;
top: 50%;
left: -36px!important;
transform: rotate(90deg);
z-index: 99;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
.fb-share-button:hover{
    transform: rotate(-90deg);
}