<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <h1 class="page-title">
        {{'ADMIN_MENU_DASHBOARD'|translate}}
    </h1>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="dashboard">{{'ADMIN_MENU_DASHBOARD'|translate}}</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class=" portlet light">
            <div class="portlet-body" style="min-height: 400px">

                <div class="col-md-3 col-sm-4">
                    <!-- START WIDGET CLOCK -->
                    <clock></clock>
                    <!-- END WIDGET CLOCK -->
                </div>
                <div class="col-md-3 col-sm-4">

                    <!-- START WIDGET MESSAGES -->
                    <div class="widget widget-default widget-item-icon" style="padding-left: 8px;">
                        <div class="widget-item-left" style="padding: 16px;padding-left: 0px;">
                            <img src="/public/assets/img/car-dashboard.png" width="65" height="75">
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">{{allCars}}</div>
                            <div class="widget-title">{{'ADMIN_PAGE_DASHBOARD_NB_CARS'|translate}}</div>
                            <div class="widget-subtitle">{{'ADMIN_PAGE_DASHBOARD_NB_CARS_SUB'|translate}}</div>
                        </div>
                        <div class="widget-controls">
                            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip"
                               data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                        </div>
                    </div>
                    <!-- END WIDGET MESSAGES -->

                </div>

                <div class="col-md-3 col-sm-4">

                    <!-- START WIDGET MESSAGES -->
                    <div class="widget widget-default widget-item-icon">
                        <div class="widget-item-left">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">{{unseen}}</div>
                            <div class="widget-title">{{'ADMIN_PAGE_DASHBOARD_NEW_MESSAGES'|translate}}</div>
                        </div>
                        <div class="widget-controls">
                            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip"
                               data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                        </div>
                    </div>
                    <!-- END WIDGET MESSAGES -->
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="" id="menuSelected" data-menu="page-dashboard">
