<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <h1 class="page-title">
        الرئيسية
    </h1>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="dashboard">الرئيسية</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class=" portlet light">
            <div class="portlet-body" style="min-height: 400px"></div>

        </div>
    </div>
</div>

<input type="hidden" value="" id="menuSelected" data-menu="page-dashboard">
<script type="text/javascript" src="/public/assets/js/main.js"></script>