<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <h1 class="page-title">
        تعديل السيارة
    </h1>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="admin">الرئيسية</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>تعديل السيارة</span>
        </li>

    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-speech font-green"></i>
                    <span class="caption-subject bold font-green uppercase">بيانات السيارة</span>
                </div>
            </div>
            <div class="portlet-body" style="height: auto;">
                <form role="form" ng-submit="editCar()" class="form-horizontal" name="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label for="marque" class="col-md-2 control-label">الماركة
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class=" col-md-9">
                                <select  id="marque" ng-model="car.marque"  class="form-control" required>
                                    <option  ng-repeat="mq in marques track by $index" value="{{mq.nom}}" >{{mq.nom}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="model" class="col-md-2 control-label">الموديل
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class=" col-md-9">
                                <select ng-model="car.model" id="model"  class="form-control" required>
                                    <option ng-repeat="mdl in models track by $index" value="{{mdl}}" >{{mdl}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date" class="control-label col-md-2">السنة
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                     <span class="input-group-addon">
                                         <i class="fa fa-calendar"></i>
                                     </span>
                                    <input data-placeholder="السنة"  range from="2000"  id="date" required>
                                </div>
                                <span class="help-block hidden">إختر سنة الصنع</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">اللون
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input ng-model="car.couleur" type="text" name="couleur" class="form-control" placeholder="اللون" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">الثمن
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-dollar"></i>
                                    </span>
                                    <input ng-model="car.prix" type="number" name="prix" class="form-control" placeholder="الثمن بالدينار" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="porte" class="control-label col-md-2">عدد الأبواب
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input data-placeholder="عدد الأبواب" ng-model="car.porte" range from="1" to="6" id="porte" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="control-label col-md-2">عدد الأماكن
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input data-placeholder="عدد الأبواب" ng-model="car.place" range from="1" to="10" id="place" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="capacite" class="col-md-2 control-label">سعة المحرك
                            </label>
                            <div class="col-md-9">
                                <input ng-model="car.capacite_moteur" id="capacite" type="number" name="capacite" class="form-control"
                                       placeholder="سعة المحرك باللتر" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="energie" class="control-label col-md-2">الطاقة
                            </label>
                            <div class="col-md-9">
                                <select  ng-model="car.energie" id="energie" class="form-control" required>
                                    <option>ديزل</option>
                                    <option>إيصنص</option>
                                    <option>كهربائية</option>
                                    <option>LGP</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="vitesse" class="control-label col-md-2">ناقل حركة
                            </label>
                            <div class="col-md-9">
                                <select  ng-model="car.type_vitesse" id="vitesse" class="form-control" required>
                                    <option selected>تلقائي</option>
                                    <option>أوتوماتيكي</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>المواصفات</b></label>
                        <div class="col-md-4">
                            <div class="mt-checkbox-list" data-error-container="#form_2_services_error">
                                <label class="mt-checkbox">
                                    <input ng-model="car.caracteristique.airbag"  type="checkbox" value="1" name="service"><small>airbag</small> وسائد هوائية
                                    <span></span>
                                </label>
                                <label class="mt-checkbox">
                                    <input ng-model="car.caracteristique.toit_ouvrant" type="checkbox" value="2" name="service"> فتحة سقف
                                    <span></span>
                                </label>
                                <label class="mt-checkbox">
                                    <input ng-model="car.caracteristique.regulateur_vitesse" type="checkbox" value="3" name="service"> مثبت سرعة
                                    <span></span>
                                </label>
                                <label class="mt-checkbox">
                                    <input ng-model="car.caracteristique.alarm" type="checkbox" value="4" name="service">انذار
                                    <span></span>
                                </label>
                                <label class="mt-checkbox">
                                    <input ng-model="car.caracteristique.frein_abs" type="checkbox" value="5" name="service">نظام فرامل ABS
                                    <span></span>
                                </label>
                                <label class="mt-checkbox">
                                    <input ng-model="car.caracteristique.EBD" type="checkbox" value="6" name="service">توزيع اليكتروني للفرامل EBD
                                    <span></span>
                                </label>
                                <label class="mt-checkbox">
                                    <input ng-model="car.caracteristique.climatisation" type="checkbox" value="7" name="service">تكييف
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-md-2 ">الصور</label>
                            <div class="col-md-8" id="input-images">
                                <div class="input-group" ng-repeat="image in car.images track by $index" style="padding-bottom: 8px">
                                    <span class="input-group-addon">
                                        <i class="fa fa-image"></i>
                                    </span>
                                        <input  value="{{image}}" name=""  type="text" placeholder="رابط الصورة" class="form-control" style="height: 100%;padding: 8px">
                                    <span class="input-group-btn btn-delete-img">
                                        <button class="btn red btn-delete-img" ng-click="removeImage($index)" ><i class="fa fa-trash fa-2x"></i></button>
                                    </span>
                                </div>
                            </div>
                        <button role="button" id="btn-add-input" class="btn blue col-md-2 ">
                            <i class="fa fa-plus"></i>&nbsp;أضف صورة&nbsp;</button>
                    </div>
                    <div class="margin-top-10 text-center">
                        <button ng-disabled="form.$invalid" class="btn btn-success">حفظ التغييرات</button>
                        <button ng-click="initCar()" class="btn btn-danger">إلغاء </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<input type="hidden" value="" id="menuSelected" data-menu="page-new-car">
<script type="text/javascript"
        src="/public/app/directives/rangeDirective.js"></script>
<script>
    $(document).ready(function () {
        $('#btn-add-input').click(function () {
            $('#input-images').append(
                        '<div class="input-group" style="padding-bottom: 8px">'+
                            '<span class="input-group-addon">'+
                                '<i class="fa fa-image"></i>'+
                            '</span>'+
                            '<input  name=""  type="text" placeholder="رابط الصورة" class="form-control" style="height: 100%;padding: 8px">'+
                            '<span class="input-group-btn">'+
                                '<button class="btn red btn-delete-img" type="button">' +
                                    '<i class="fa fa-trash fa-2x"></i>' +
                                '</button>'+
                            '</span> ' +
                        '</div>');
        });


        $(document).on("click", ".btn-delete-img", function() {
            if($(this).parent().find('input').val()==null)
                $(this).parent().parent().remove();
        });

    });
</script>