<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="admin">{{'ADMIN_MENU_DASHBOARD'|translate}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span ng-if="OLDCARS">{{'ADMIN_MENU_CARS_OLD'|translate}}</span>
            <span ng-if="NEWCARS">{{'ADMIN_MENU_CARS_NEW'|translate}}</span>
        </li>
    </ul>
</div>
<div class="m-heading-1 border-green m-bordered row" style="margin-bottom: 17px;">
    <h2>     <span class="fa fa-car"></span>
        <span ng-if="OLDCARS">{{'ADMIN_MENU_CARS_OLD'|translate}}</span>
        <span ng-if="NEWCARS">{{'ADMIN_MENU_CARS_NEW'|translate}}</span>
    </h2>
</div>

<div class="portlet box red">
            <div class="portlet-title">
                <div class="caption"></div>
            </div>
            <div class="portlet-body ">
                <table datatable="ng" class="table table-striped table-bordered table-hover  no-footer " dt-options="dtOptions" dt-column-defs="showCase.dtColumnDefs" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="hidden-xs">{{'ADMIN_MENU_CARS_NEW'|translate}}</th>
                        <th>{{'HOME_SEARCH_FORM_MARQUE'|translate}}</th>
                        <th>{{'HOME_SEARCH_FORM_MODEL'|translate}}</th>
                        <th>{{'HOME_SEARCH_FORM_YEAR'|translate}}</th>
                        <th>{{'HOME_SEARCH_FORM_PRICE'|translate}}</th>
                        <th class="hidden-xs">{{'ADMIN_PAGE_ADD_CAR_FORM_NB_PORTE'|translate}}</th>
                        <th class="hidden-xs">{{'ADMIN_PAGE_ADD_CAR_FORM_CYLINDRE'|translate}}</th>
                        <th class="hidden-xs">{{'ADMIN_PAGE_ADD_CAR_FORM_ENERGIE'|translate}}</th>
                        <th class="hidden-xs">{{'ADMIN_PAGE_ADD_CAR_FORM_BOITE'|translate}}</th>
                        <th>{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES_TABLE_ACTION'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in cars track by $index">
                        <td class="hidden-xs">{{car.date_publication|date:"dd/MM/yyyy" }}</td>
                        <td> {{ car.marque }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.annee }}</td>
                        <td>{{ car.prix }}</td>
                        <td class="hidden-xs">{{ car.porte }}</td>
                        <td class="hidden-xs">{{ car.capacite_moteur }}</td>
                        <td class="hidden-xs">{{ car.energie }}</td>
                        <td class="hidden-xs">{{ car.type_vitesse }}</td>
                        <td class="text-center">
                            <button class="btn btn-primary" ui-sref="editCar({id:car._id})"><i class="fa fa-wrench" ></i> {{'EDIT'|translate}}</button>
                            <button class="btn btn-danger" style="margin: 5px" ng-click="deleteCar(car,$index)">{{'DELETE'|translate}} <i class="fa fa-trash-o">  </i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

<input ng-if="NEWCARS" type="hidden" value="" id="menuSelected" data-menu="page-list-cars-new">
<input ng-if="OLDCARS" type="hidden" value="" id="menuSelected" data-menu="page-list-cars-old">
