<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="admin">{{'ADMIN_MENU_DASHBOARD'|translate}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{'ADMIN_PAGE_MARQUE_MODELS'|translate}}</span>
        </li>
    </ul>
</div>
<div class="m-heading-1 border-green m-bordered row" style="margin-bottom: 17px;">
    <h2>     <span class="fa fa-tasks"></span>    &nbsp; {{'ADMIN_PAGE_MARQUE_MODELS'|translate}} </h2>
</div>

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES'|translate}} </div>
        <div class="actions">
            <a id="btnAddMarque" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> {{'ADD'|translate}} </a>
        </div>
    </div>
    <div class="portlet-body ">
        <table  id="tableMarque" datatable="ng" class="table table-striped table-bordered table-hover  no-footer " dt-options="dtOptions" dt-column-defs="showCase.dtColumnDefs" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES_TABLE_NOM'|translate}} </th>
                <th>{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES_TABLE_NB_MODEL'|translate}}</th>
                <th>{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES_TABLE_ACTION'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="marque in marques track by $index">
                <td> {{ marque.nom }}</td>
                <td>{{ marque.models.length }}</td>
                <td class="text-center">
                    <button ng-click="deleteMarque(marque)" class="btn btn-danger">{{'DELETE'|translate}} <i class="fa fa-trash-o">  </i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>{{'ADMIN_PAGE_MARQUE_MODULE_MODELS'|translate}} </div>
        <div class="actions">
            <a id="btnAddModel" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> {{'ADD'|translate}} </a>
        </div>
    </div>
    <div class="portlet-body ">
        <table id="tableModel" datatable="ng" class="table table-striped table-bordered table-hover  no-footer " dt-options="dtOptions" dt-column-defs="showCase.dtColumnDefs" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES_TABLE_NOM'|translate}} </th>
                <th>{{'ADMIN_PAGE_MARQUE_MODULE_MODEL_MARQUE'|translate}}</th>
                <th>{{'ADMIN_PAGE_MARQUE_MODULE_MARQUES_TABLE_ACTION'|translate}}</th>
            </tr>
            </thead>
            <tbody >
                <tr ng-repeat="model in models track by $index">
                    <td> {{ model.nom }}</td>
                    <td>{{ model.marque.nom }}</td>
                    <td class="text-center">
                        <button ng-click="deleteModel(model,model.marque)" class="btn btn-danger">{{'DELETE'|translate}} <i class="fa fa-trash-o">  </i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" value="" id="menuSelected" data-menu="page-list-marques">
<script>
</script>