<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <h1 class="page-title">
        قائمة الرسائل
    </h1>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="admin">الرئيسية</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>قائمة الرسائل</span>
        </li>

    </ul>
</div>
<input type="hidden" value="" id="menuSelected" data-menu="page-messages">
<script type="text/javascript" src="/public/assets/js/main.js"></script>