<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <h1 class="page-title">
        أضف سيارة
    </h1>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="admin">الرئيسية</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>أضف سيارة</span>
        </li>

    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<input type="hidden" value="" id="menuSelected" data-menu="page-new-car">
<script type="text/javascript" src="/public/assets/js/main.js"></script>
